<!-- <div class="row">
  <div class="col-lg-12">
    <ngx-hero-buttons></ngx-hero-buttons>
    <ngx-default-buttons></ngx-default-buttons>
    <ngx-outline-buttons></ngx-outline-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-shape-buttons></ngx-shape-buttons>
    <ngx-action-groups></ngx-action-groups>
    <ngx-labeled-actions-group></ngx-labeled-actions-group>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-size-buttons></ngx-size-buttons>
    <ngx-button-elements></ngx-button-elements>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Operazioni</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal" #f="ngForm">
          <div class="form-group row">
            <label  class="col-sm-1 form-control-label" style="padding-top:15px">Numero1</label>
            <div class="col-sm-5">
              <input name="first" [(ngModel)]="parr" type="number" class="form-control" placeholder="Insert Number">
            </div>
            <label class="col-sm-1 form-control-label" style="padding-top:15px">Numero2</label>
            <div class="col-sm-5">
              <input name="second" [(ngModel)]="parr1" type="number" class="form-control" placeholder="Insert Number">
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" ng class="btn btn-warning" id="addizione" (click)="sum()">Addizione</button>
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning" id="Sottrazione" (click)="meno()">Sottrazione</button>
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning" id="moltiplicazione" (click)="moltipli()">Moltiplicazione</button>
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning" id="divisione" (click)="dividi()">Divisione</button>
            </div>
            <label  class="col-sm-1 form-control-label" style="padding-top:15px"></label>
            <div class="col-sm-10" type="text" margin="auto" >
                <input name ="res"[(ngModel)]="this.somma" type="number" class="btn btn-warning col-sm-10" placeholder="Risultato" readonly>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Concatena Stringhe</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal" #fu="ngForm">
          <div class="form-group row">
            <label class="col-sm-1 form-control-label" style="padding-top:15px">Nome</label>
            <div class="col-sm-5">
              <input name="name" [(ngModel)]="name" type="text" class="form-control" placeholder="Nome">
            </div>
            <label class="col-sm-1 form-control-label" style="padding-top:15px">Cognome</label>
            <div class="col-sm-5">
              <input name="surname" [(ngModel)]="surname" type="text" class="form-control" placeholder="Cognome">
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning"(click)="conc()">Concatena</button>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-12">
                <input name="concat"[(ngModel)]="this.name_sur" type="text" class="form-control" id="concat" placeholder="Risultato" readonly>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
