<!-- <div class="row">
  <div class="col-lg-12">
    <ngx-hero-buttons></ngx-hero-buttons>
    <ngx-default-buttons></ngx-default-buttons>
    <ngx-outline-buttons></ngx-outline-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-shape-buttons></ngx-shape-buttons>
    <ngx-action-groups></ngx-action-groups>
    <ngx-labeled-actions-group></ngx-labeled-actions-group>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-size-buttons></ngx-size-buttons>
    <ngx-button-elements></ngx-button-elements>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Operazioni</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-1 form-control-label" style="padding-top:15px">Parametro 1</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Numeri">
            </div>
            <label for="inputEmail3" class="col-sm-1 form-control-label" style="padding-top:15px">Parametro 2</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Numeri">
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning">Addizione</button>
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning">Sottrazione</button>
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning">Moltiplicazione</button>
            </div>
            <div class="col-sm-3" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning">Divisione</button>
            </div>
            <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Risultato">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Concatena Stringhe</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-1 form-control-label" style="padding-top:15px">Nome</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Nome">
            </div>
            <label for="inputEmail3" class="col-sm-1 form-control-label" style="padding-top:15px">Cognome</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Cognome">
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2" style = "margin:25px 0px">
              <button type="submit" class="btn btn-warning">Concatena</button>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Risultato">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
